body {
  background-color: #5c4d4d;
}

h1 {
  margin: 30px;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #acdbdf;
}

p {
  font-size: 2rem;
  color: #acdbdf;
  font-family: 'OpenSans Flower', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  text-align: center;
  font-family: 'OpenSans', cursive;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.drawButton {
	-moz-box-shadow: 0px 1px 50px 9px #91b8b3;
	-webkit-box-shadow: 0px 1px 50px 9px #91b8b3;
	box-shadow: 0px 1px 50px 9px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:17px 38px 17px;
	text-decoration:none;
  margin-bottom: 40px;
}
.drawButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.drawButton:active {
	position:relative;
	top:1px;
}
